<!DOCTYPE html>
<html>
<head>
	<title>Account Settings</title>
	<link rel="stylesheet" href="../../public/CSS/delete.css">
</head>
<body>
    <div class="form">
        <form method="post" action="/accountSettings">
            <h1 data-testid="headline">Account Settings</h1>
            <label for="email">Email:</label>
            <input data-testid="email" type="text" name="email" id="email" value="<%=email%>" required>
            <label for="password">New Password:</label>
            <input type="checkbox" onclick="showPwd()">Show Password
            <input data-testid="password" type="password" name="password" id="password" required>
            <input data-testid="save-changes-btn" type="submit" value="Save Changes">
        </form>
        <button class="delete-btn" id="delete-btn" data-testid="deleteButton" onclick="showConfirmation()">Delete User</button>
        <div id="confirmation-dialog" style="display: none">
            <p>Are you sure you want to delete?<br> This decision is Immutable!</p>
            <form mehtod="post" action="/deleteUser" class="delete-user-form">
                <button data-testid="confirmButton" class="confirm-btn" style="background-color: red;">Yes</button>
            </form>
          <button class="confirm-btn" onclick="hideConfirmation()">No</button>
        </div>
        <form action="/logout" method="get">
            <button class="confirm-btn">logout</button>
        </form>
    </div>

    <script>
		const userEmail = JSON.stringify(email)
		function showPwd(){
			let password = document.getElementById('password')
			if(password.type === 'password'){
				password.type = 'text'
			}else password.type = 'password'
		}
		
        function showConfirmation() {
        document.getElementById("delete-btn").style.display = "none";
        document.getElementById("confirmation-dialog").style.display = "block";
        }
        
        function hideConfirmation() {
        document.getElementById("delete-btn").style.display = "block";
        document.getElementById("confirmation-dialog").style.display = "none";
        }
    
    </script>
</body>
</html>
