<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="../../public/CSS/login.css">
</head>
<body>
	<form method="post" action="/login">
		<h1 data-testid="headline">Login</h1>
		<label for="email">Email:</label>
		<input data-testid="email" type="text" name="email" id="email" required>
		<label for="password">Password:</label>
		<input data-testid="password" type="password" name="password" id="password" required>
		<input data-testid="loginbutton" type="submit" value="Login">
	</form>
</body>
</html>
