<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" href="../../public/CSS/register.css">
</head>
<body>
	<h1 data-testid="headline">Create Account</h1>
    <% if(message){ %>
    <span class="message"><%=message%></span><%}%>
	<form method="post" action="/register">
		<label for="first-name">First Name</label>
		<input data-testid="firstname" type="text" id="first-name" name="firstname" required>

		<label for="surname">Surname</label>
		<input data-testid="lastname" type="text" id="surname" name="surname" required>

		<label for="email">Email</label>
		<input data-testid="email" type="email" id="email" name="email" required>

		<label for="zipcode">Zip Code</label>
		<input data-testid="zipcode" type="text" id="zipcode" name="zipcode" required>

		<label for="password">Password</label>
		<input data-testid="password" type="password" id="password" name="password" required>

		<label for="role">Role:</label>
		<input type="text", id="role">

		<input data-testid="registerbutton" type="submit" value="Register">
	</form>
</body>
</html>
