.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
  }
  
  .big-area {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: lightblue;
  }
  
  .small-area {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: lightgreen;
  }
  
  .sub-big-area {
    grid-column: 3;
    grid-row: 1 / 2;
    background-color: orange;
  }
  
  .half-area {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: pink;
  }
  
  body{
    background-color: black;
  }